<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-food">
    <div>
        <nav class="nav-food">
            <a href="/home">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Alle gerechten</h1>
            </a>
        </nav>
        <main class="main-home">
            <section>
                <h3 class="visually-hidden">Xiao's top 3 lijst</h3>
                <% addCountry.forEach(item => { %>
                    <a href="">
                        <article>
                            <h2><%= item.Title %></h2>
                            <p><%= item.Country %></p>
                            <img src="/<%= item.Image %>" alt="Tteokbokki">
                        </article>
                    </a>
                <% }); %>
            </section>
        </main>
    </div>
    

    <%- include('../partials/script-fontawesome'); %>
</body>
</html>