<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-home">
    <div>
        <section class="landen-cards">
            <h3 class="visually-hidden">Landen kaarten</h3>
            <a href="/gerechten?country=Korea">
                <article>
                    <h2>Korea</h2>
                    <img src="./img/country-korea.jpg" alt="Foto van Koreaans eten" />
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/gerechten?country=China">
                <article>
                    <h2>China</h2>
                    <img src="./img/country-china.jpg" alt="Foto van Chinees eten" />
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/gerechten?country=Japan">
                <article>
                    <h2>Japan</h2>
                    <img src="./img/country-japan.jpg" alt="Foto van Japans eten" />
                    <div class="overlay"></div>
                </article>
            </a>
        </section>
    </div>
    <div>
        <main class="main-home">
            <h1>Xiao's top 3</h1>
            <section>
                <h3 class="visually-hidden">Xiao's top 3 lijst</h3>
                
                <% top3.forEach(item => { %>
                    <a href="/gerechten/<%= item.Slug %>">
                        <article>
                            <h2><%= item.Title %></h2>
                            <p><%= item.Country %></p>
                            <img src="/<%= item.Image %>" alt="Tteokbokki">
                        </article>
                    </a>
                <% }); %>
           
                <a href="/gerechten">Zie alle gerechten</a>
            </section>
        </main>
    </div>
</body>
</html>