<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-single">
    <div>
        <section class="hero">
            <h1 class="visually-hidden">Gerecht pagina</h1>
            <img src="<%= addSlug.Image %>">
            <nav class="nav-food">
                <a href="/gerechten">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </nav>
            <div class="overlay"></div>
        </section>
        <main class="main-single">
            <h1><%= addSlug.Title %></h1>
            <p><%= addSlug.Country %></p>
            <p><%= addSlug.Instructions %></p>
        </main>
    </div>
    <section class="main-home section-single">
        <h2>Gerelateerde gerechten</h2>
        <section>
            <a href="">
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="/img/country-china.jpg" alt="Tteokbokki">
                </article>
            </a>
            <a href="">
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="/img/country-china.jpg" alt="Tteokbokki">
                </article>
            </a>
            <a href="">
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="/img/country-china.jpg" alt="Tteokbokki">
                </article>
            </a>
        </section>
        <a href="/gerechten">Zie alle gerechten</a>
    </section>
        
    <%- include('../partials/script-fontawesome'); %>
</body>
</html>