<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head-single'); %>

<body class="body-single">
    <div>
        <section class="hero">
            <h1 class="visually-hidden">Gerecht pagina</h1>
            <img src="<%= addSlug.Image %>" alt="<%= addSlug.Title %>">
            <nav class="nav-food">
                <button>
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            </nav>
            <div class="overlay"></div>
        </section>
        <main class="main-single">
            <h1><%= addSlug.Title %></h1>
            <p><%= addSlug.Country %></p>
            <p><%= addSlug.Instructions %></p>
        </main>
    </div>
    <section class="main-home section-single">
        <h2>Gerelateerde gerechten</h2>
        <section>
            <% related.forEach(item => { %>
                <a href="/gerechten/<%= item.Slug %>">
                    <article>
                        <h2><%= item.Title %></h2>
                        <p><%= item.Country %></p>
                        <img src="/<%= item.Image %>" alt="<%= item.Title %>">
                    </article>
                </a>
            <% }); %>
        </section>
        <a href="/gerechten">Zie alle gerechten</a>
    </section>
    
    <%- include('../partials/home-button'); %>
        
    <%- include('../partials/script-fontawesome'); %>
    <script src="/js/single.js"></script>
</body>
</html>